---
import Layout from '../layouts/Layout.astro';
import D1 from '../designs/design1/About.astro';
import D2 from '../designs/design2/About.astro';
import D3 from '../designs/design3/About.astro';
const lang = 'en';
---

<Layout title="About Us - Paricus" description="Paricus combines the warmth of partnership with the confidence of expertise." lang={lang} currentPath="/about">
  <div data-design="1"><D1 lang={lang} /></div>
  <div data-design="2" style="display:none;"><D2 lang={lang} /></div>
  <div data-design="3" style="display:none;"><D3 lang={lang} /></div>
</Layout>
