---
import Layout from '../layouts/Layout.astro';
import D1 from '../designs/design1/Contact.astro';
import D2 from '../designs/design2/Contact.astro';
import D3 from '../designs/design3/Contact.astro';
const lang = 'en';
---

<Layout title="Contact Us - Paricus" description="Ready to transform your operations? Get in touch with our team." lang={lang} currentPath="/contact">
  <div data-design="1"><D1 lang={lang} /></div>
  <div data-design="2" style="display:none;"><D2 lang={lang} /></div>
  <div data-design="3" style="display:none;"><D3 lang={lang} /></div>
</Layout>
