---
import Layout from '../../layouts/Layout.astro';
import D1 from '../../designs/design1/CareersList.astro';
import D2 from '../../designs/design2/CareersList.astro';
import D3 from '../../designs/design3/CareersList.astro';
const lang = 'es';
---

<Layout title="Carreras - Paricus" description="Se parte de una empresa que valora el crecimiento e innovación." lang={lang} currentPath="/es/careers">
  <div data-design="1"><D1 lang={lang} /></div>
  <div data-design="2" style="display:none;"><D2 lang={lang} /></div>
  <div data-design="3" style="display:none;"><D3 lang={lang} /></div>
</Layout>
