---
import Layout from '../../../layouts/Layout.astro';
import D1 from '../../../designs/design1/CaseStudyDetail.astro';
import D2 from '../../../designs/design2/CaseStudyDetail.astro';
import D3 from '../../../designs/design3/CaseStudyDetail.astro';
const lang = 'es';
---

<Layout title="Proveedor de Salud Reduce Tiempo de Respuesta un 60% - Paricus" description="Vea cómo ayudamos a un proveedor de salud a mejorar dramáticamente el soporte al paciente." lang={lang} currentPath="/es/case-studies/sample-study">
  <div data-design="1"><D1 lang={lang} /></div>
  <div data-design="2" style="display:none;"><D2 lang={lang} /></div>
  <div data-design="3" style="display:none;"><D3 lang={lang} /></div>
</Layout>
